{% extends 'base.html.twig' %}

{% block title %}Liste des films à l'affiche{% endblock %}

{% block body %}
    <style>
        body{
            background-color: coral;
            width: 80%;
            margin: auto;
        }

        .film{
            display: flex;
            justify-content: space-between;
            width: 100%;
            column-gap: 50px;
            font-weight: bold;
            font-size: 1.25rem;
            border-bottom: 2px solid black;
        }

    </style>
    {% for film in films %}
        <div class="film">
            <p>Id du film : {{ film.id }}</p>
            <p>Titre du film : {{ film.titre }}</p>
            <p>Durée du film (en minutes) : {{ film.duree }}</p>
        </div>
    {% endfor %}


{% endblock %}
