.hover-highlight:hover {
    background-color: #f8f9fa; /* A light grey to highlight on hover */
    cursor: pointer; /* Change the cursor to indicate interactiveness */
    transition: background-color 0.3s ease; /* Smooth transition for the hover effect */
}

.list-group-item-action:hover {
    color: #0056b3; /* Bootstrap primary color on hover for list items */
}

/* Adding a bit of padding inside the card for better spacing */
.card-body {
    padding: 2rem;
}

/* Making the primary text a bit larger for better readability */
.text-primary {
    font-size: 1.75rem;
    color: #007bff; /* Bootstrap primary color */
}

.text-secondary {
    color: #6c757d; /* Bootstrap secondary color */
}

/* Adding Bootstrap icons font style */
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
