.hover-highlight:hover {
    background-color: #f8f9fa;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.list-group-item-action:hover {
    color: #0056b3;
}

.card-body {
    padding: 2rem;
}

.text-primary {
    font-size: 1.75rem;
    color: #007bff;
}

.text-secondary {
    color: #6c757d;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}
